@model DATA_GENERATOR_APP_FOR_MINIECOMMERCE.Models.ProductModel

@{
    ViewData["Title"] = "GenerateData";
}

<form method="post" id="productData" enctype="multipart/form-data" asp-action="GenerateData" asp-controller="DataGenerator">
    <input type="file" id="fileupload"  multiple="multiple" name="image" class="form-control bg-light file-upload" />
    <input type="submit" id="btnproduct" value="Generate Records" class="btn btn-primary w-25 p-2" />
</form>
